# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env

# Pytest cache
.pytest_cache/

# Environment variables
.env

# IDE specific files
.vscode/
.idea/
*.sublime*
